{% extends 'base.html'%}

{% block content %}

<div class="main content">
    <section>
        <div class="container">
            <p style="color:#FE4066; font-size: 40px; margin-top: 50px;"><b>WHO WE ARE</b></p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis consequuntur ea dolorem debitis facere dolorum quas suscipit facilis quam possimus quae iste dignissimos nemo dolore officiis, a fugiat voluptas vel.</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Suscipit in optio explicabo commodi illum quidem, quaerat alias quibusdam id unde, quasi reiciendis qui libero totam exercitationem! Voluptate, maiores corporis! Voluptatem.</p>
            <p style="color:#FE4066; font-size: 40px; margin-top: 50px;"><b>WHAT DO WE DO?</b></p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis consequuntur ea dolorem debitis facere dolorum quas suscipit facilis quam possimus quae iste dignissimos nemo dolore officiis, a fugiat voluptas vel.</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Suscipit in optio explicabo commodi illum quidem, quaerat alias quibusdam id unde, quasi reiciendis qui libero totam exercitationem! Voluptate, maiores corporis! Voluptatem.</p>
        </div>
    </section>
</div>
{% endblock %}