{% extends 'base.html' %}
{% load static %}
{% block heading %}
    show
 {% endblock %}
{% block content %}
<center>  
  <h1>Our Employess</h1>  
</br>  
{% for employee in employee %}
<div class="card mb-3" style="max-width: 540px;">
  <div class="row no-gutters">
    <div class="col-md-4">
      <img src="{{employee.picture.url }}" class="card-img" alt="...">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h4 class="card-title"> Name: {{employee.name}}</h4>
        <p class="card-text">Phone: {{employee.phone}}</p>
        <p class="card-text">Email: {{employee.email}}</p>
        <p class="card-text">Departmanet: {{employee.department}}</p>
        <p class="card-text">Address: {{employee.address}}</p>

      </div>
    </div>
  </div>
</div>

{% endfor %}
{% endblock %}   
</center>

